[submodule "base_model"]
	path = base_model
	url = https://github.com/BioMedAI-UCSC/CGML_model_base.git
[submodule "benchmark"]
	path = benchmark
	url = https://github.com/BioMedAI-UCSC/CGML_Benchmark.git
[submodule "openmm_generate"]
	path = openmm_generate
	url = https://github.com/BioMedAI-UCSC/openmm_generate.git
